<ion-header>

  <ion-navbar>
    <ion-title *ngIf="spec">{{ spec.name }}</ion-title>
    <ion-title *ngIf="!spec">{{ 'DOCTORS_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="filterItems($event)" placeholder="{{ 'SEARCH_BY_NAME_PLACEHOLDER' | translate }}"></ion-searchbar>
  <ion-list *ngIf="!spec">
    <div padding>
      <button ion-button color="primary" block (click)="searchBySpec()">{{ 'SEARCH_BY_SPEC' | translate }}</button>
    </div>
  </ion-list>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems | async">
      <ion-avatar item-start>
        <img [src]="item.profilePic" />
      </ion-avatar>
      <h2>{{item.firstName}} {{item.lastName}}</h2>
    </button>
  </ion-list>
</ion-content>
